[2018-06-18 10:55] Protohedgehog opened #4 "Add newsletter"
https://opensciencemooc.eu/contact-us/newsletter/

Embed code:

 <form style="border:1px solid #ccc;padding:3px;text-align:center;" action="https://tinyletter.com/OpenScienceMOOC" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/OpenScienceMOOC', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true"><p><label for="tlemail">Enter your email address</labe

[2018-06-18 13:22] Kevin-Mattheus-Moerman commented on #4
Cool. Should be fine. Do you think it just involves pasting this into [Contact.html](https://github.com/OpenScienceMOOC/site/blob/master/Contact.html)?:

[code]
I can check this this evening.

[2018-06-18 13:23] Protohedgehog commented on #4
It might do. Put it here as a reminder to test.

[2018-06-18 14:35] Protohedgehog commented on #4
Worked like a charm :) https://opensciencemooc.github.io/site/Contact/

[2018-06-18 14:35] #4 closed

[2018-08-01 04:40] Protohedgehog opened #5 "Create a blog function for the site"
Ideas and suggestions for this welcomed!

[2018-08-01 04:41] Protohedgehog opened #6 "Create logos for each module"
Ideas and suggestions welcomed!

[2018-08-01 06:49] jcolomb commented on #6
Based on the osf badges? Or based on the current mooc logo?

Am 1. August 2018 06:41:20 MESZ schrieb Jon Tennant <notifications@github.com>:

--
Diese Nachricht wurde von meinem Android-Gerät mit K-9 Mail gesendet.

[2018-08-01 06:51] Protohedgehog commented on #6
That is very much open to discussion! My thoughts are that they would be adapted from the current main MOOC logo, and customised for each module. Sorry I didn't put much info before, I just wanted to dump the issue while it was still in my head, before it escaped again.. :)

[2018-08-01 23:07] dannycolin commented on #5
You can assign that issue to me if you want ;)

[2018-08-01 23:46] dannycolin commented on #5
And voilà! I've opened a pull request for the first draft of this issue. I'll need to do some reorganization in the layout (moving the header code to its own include file to avoid duplicate code).

Feel free to suggest things [here](https://github.com/OpenScienceMOOC/site/pull/8)

[2018-08-02 03:24] Protohedgehog commented on #5
Quick one - invited you to join the project now! I don't think it's possible to invite someone from outside otherwise.

Awesme, thanks for this! Will review the request very shortly :)

[2018-08-02 14:19] Kevin-Mattheus-Moerman commented on #5
Cool. Let me know if I can help.

BTW I based the website on the [Project Pages Jekyll template](http://jekyllthemes.org/themes/project-pages/) (see this [demo](http://projectpages.github.io/project-pages/)). That template had blog functionality. However I did not like it initially and basically took it out (on my own [personal page](https://kevinmoerman.org/), which stems from the same template,

[2018-08-03 05:37] Protohedgehog commented on #5
Awesome, thanks Kevin. It's here now, what do you think? https://opensciencemooc.github.io/site/uncategorized/2018/08/02/welcome-post/ Does the job nicely.

Oh, is that a congrats that you're moving back? Where are you landing? :)

[2018-08-03 14:15] MikeDoesScienceUX commented on #6
Hi all. I can take a crack at these if Julian hasn't already.
1. Do we have the original font and/or layered PSD for our main MOOC logo somewhere?
2. Where will these be displayed? Do we know yet? Will they be full-screen title slides for a training video, or in the corner of a website?

[2018-08-06 02:38] Protohedgehog commented on #6
@hiiammike thanks so much!!

[Logo.pdf](https://github.com/OpenScienceMOOC/site/files/2261025/Logo.pdf)

Will this do the job? There are some other formats [here ](https://github.com/OpenScienceMOOC/Main) too.

I imagine they'll be displayed at the top of each main module content file. So around 800 width, which is what I'm setting most other things to atm. Buuuut they could also be the intro 'sli

[2018-08-06 03:04] MikeDoesScienceUX commented on #6
Hi Jon! That's helpful thanks! And yep easy enough to make a logo that can be a title slide and a header graphic. Just wanted an idea of context/dimensions. I'll come up with some concepts this week and post them for yall's review!

One more question: I really like the MOOC logo and color scheme. Where did they come from?

[2018-08-06 03:04] Protohedgehog opened #9 "Kill the Documents page"
Here: https://opensciencemooc.github.io/site/Documents/ - not needed anymore.

Is this just a case of deleting the Documents.html file, or will that cause a bit of a mess? @Kevin-Mattheus-Moerman @dannycolin

[2018-08-06 03:11] Protohedgehog commented on #6
Awesome, thanks @hiiammike - you rock!

The design came from Mark Hooper here: https://twitter.com/Mark_A_Hooper - he did it all for us one day without even asking. Such an awesome person :)

[2018-08-06 03:16] MikeDoesScienceUX commented on #6
Sure thing! And wow that's great about Mark. Such a great contribution. In that one logo he gave us a great visual anchor, a font, and a color scheme if we want it.

[2018-08-06 03:30] Protohedgehog commented on #6
What can we say, guy's a pro :)

[2018-08-06 03:34] dannycolin commented on #9
It should be ok. I tested it locally and nothing breaks.

[2018-08-06 04:44] Protohedgehog commented on #9
Sweet, thanks! Before I close this - how do you do a local test like that..? I typically use RStudio for editing stuff, if that helps..

[2018-08-06 15:07] dannycolin commented on #9
Jekyll provides a way to run a local web server so you can see the modifications in real-time. The instructions can be found here : https://jekyllrb.com/docs/

So basically, what I've done is :

- Open a terminal
- Move to the directory where the source code is with the `cd` command.
- Execute the command `bundle exec Jekyll serve` in a terminal. If there's no errors you should see a message conta

[2018-08-06 20:53] dannycolin commented on #6
Just an idea like that. It could be nice to have a smaller version (icon-like). We could use them on the main page and/or the module page. Something like [this][this] or [that][that].

Any opinion? :)

[this]: https://camo.envatousercontent.com/68b00d3088128e4fdf2029f9679c37f4ffd5fe40/687474703a2f2f7468656d656e65637461722e636f6d2f696d672f323031372d746f75722d322f66656174757265732e6a7067
[that]: htt

[2018-08-06 21:51] MikeDoesScienceUX commented on #6
I like those! Let me know if you have thoughts on what symbol to use for
any of the modules. Then I’ll try to find/create those and work them into
the logos.

-Mike

On Mon, Aug 6, 2018 at 4:53 PM Danny Colin <notifications@github.com> wrote:

--
Mike Morrison
MA/PhD Student
Organizational Psychology
Michigan State University
My 2-minute SIOP Talk: Let's Make Science User-Friendly
<https://bit.ly/

[2018-08-07 03:40] dannycolin opened #11 "File and directory naming convention"
We should use a naming convention for files' and directories' names.

**Reasons**

- Case sensitive vs. insensitive

  On Mac/Linux, Filename.md and filename.md aren't the same file but on Windows they
are. That means we could overwrite by error a file.

- SEO ranking

  mysite.com/site and mysite.com/Site are seen as the same page by the major search engine. They would flag those pages as duplica

[2018-08-07 03:44] dannycolin commented on #9
Since you've pushed a commit that deleted the document.html, I think it's safe to close this issue :).

[2018-08-07 03:44] #9 closed

[2018-08-07 07:37] #5 closed

[2018-08-07 07:40] Protohedgehog commented on #6
@hiiammike @dannycolin You guys are awesome. Something like that should be easy enough to create using Canva, right..? You've got full reign of symbols too! :)

[2018-08-07 10:08] Protohedgehog commented on #9
Yes, can be closed! I hit a snag with the testing though, and got the error:

Could not locate Gemfile or .bundle/ directory

So will keep working on that. Man, Linux is tough..

[2018-08-07 10:32] Protohedgehog commented on #11
This is so awesome, thanks @dannycolin! I started going through the _people folder and edited them. I used underscores though - is that okay? Can change to dashes if not.

I think @Kevin-Mattheus-Moerman did a pretty awesome job of this from the beginning, so not much left to do. Just the images, I think, mostly.

[2018-08-07 14:36] dannycolin commented on #11
@Protohedgehog both hyphens and underscore are acceptable characters in a URL.

Just keep in mind that Google bot views hyphens in URLs as word separators and it ignores underscore. That means `my_page.html` will be interpreted as `mypage.html`. It might be best to use hyphens in that case.

[2018-08-07 14:39] dannycolin commented on #9
@Protohedgehog what's your distribution (Linux version)?

Hmm There's a Gemfile in the root directory. Have you tried to execute the command `bundle install`. It might resolves your issue.

[2018-08-07 14:55] dannycolin commented on #6
@Protohedgehog or Inkscape :P. I had to use it a lot for the actual contract I have. I found it's a powerful tools to do vector icons! There's a learning curve tho.

@hiiammike I really don't know for the symbols. I'll think about it. Maybe we can do a quick search on the internet and share what we found. ;)

[2018-08-08 02:38] Protohedgehog commented on #9
I'm using Debian, version 9.4 apparently.

I tried running that, but getting a tonne of errors.  Will leave it for now.. :)

[2018-08-08 04:01] dannycolin commented on #9
Cool. I'm also on Debian ;).

Hmm that's strange. If Ruby and Jekyll are installed, it should have worked. If you decide to retry and need help, don't hesitate to ask ;)

[2018-08-08 14:24] MikeDoesScienceUX commented on #6
Progress update: I've arrived at a concept I'm reasonably happy with, and should have logo comps to show your for all the modules by EOD tomorrow.

@Protohedgehog - I hadn't seen Canva before! That's really cool. I'm using Adobe Illustrator, but happy to port to something else if we want a different format. Will deliver final files in PNG, AI, and vector SVG.

@dannycolin - Sounds good! I can take

[2018-08-09 01:49] Protohedgehog commented on #6
This is great news, thanks @hiiammike! I'm probably quite a few hours ahead of you in Bali, so no rush on this being done by EOD. AI should be totally fine too - as long as they're also portable to other software too for reusability.  Feel free to license these however you want too! :)

[2018-08-09 02:33] MikeDoesScienceUX commented on #6
Oh right! I meant end of MY EST day! How narcissistic of me. So more
precisely: within 24 hours of this post haha.

And yep they’ll be totally portable! I have no idea on licensing. Whatever
helps the project. Maybe I can stick them on wikimedia commons and link to
the MOOC website to get us some SEO backlink juice?

-Mike

On Wed, Aug 8, 2018 at 9:49 PM Jon Tennant <notifications@github.com> wrot

[2018-08-09 02:40] Protohedgehog commented on #6
Hey @hiiammike, that might be a nice idea! As long as there is a way to make sure you are acknowledge and credited for your work, I don't mind at all.

It might also be easiest to create a new subfolder [here](https://github.com/OpenScienceMOOC/Main) to include all logos and stuff in the future.

[2018-08-09 02:47] dannycolin commented on #6
I think wikimedia allow CC0, CC-BY and CC-BY-SA. IOW :

- CC0 : if you don't mind about being credited
- CC-BY : if you want to be credited
- CC-BY-SA : if you want derivative works to use the same license (copyleft)

[2018-08-09 20:17] #11 closed

[2018-08-10 01:43] MikeDoesScienceUX commented on #6
![os-mooc-module-logos-v1](https://user-images.githubusercontent.com/40181678/43933918-5fb23f5e-9c1a-11e8-9723-48c43731eedb.png)

Hey guys. Here's what I came up with for the module logos! Let me know what you think. If you like them as-is, I'll export them individually to png and put them in a module-logos subfolder, along with the source file. Happy to change anything from the individual icons d

[2018-08-10 02:34] dannycolin commented on #6
@hiiammike Great Work! Funny thing I had the same image in mind for the Open Principle ;).

[2018-08-10 02:38] dannycolin commented on #6
Oh I forgot. Would it be possible to test alternative color that are WCAG 2.0 AA compliant? Here's a webpage to test the ratio https://contrast-ratio.com/

[2018-08-11 01:30] MikeDoesScienceUX commented on #6
@dannycolin - Nice! The pillar? If we both had the same idea, maybe we tapped into some collective archetype on that one haha. On the colors: The gold, orange, and green fail the check; the rest are good I think. I'll update these to pass over the weekend and post new concepts.

One question: To reinforce our branding, I matched these colors to those used in our main logo (and in the glass panel "

[2018-08-11 01:55] dannycolin commented on #6
Yes. The pillar. Btw, the [dictonary](https://www.merriam-webster.com/dictionary/pillar) agree with you ;).

I agree with you. It would make sense to have the same colors. If you can do it that would be nice!

[2018-08-11 09:17] Protohedgehog commented on #6
@hiiammike Oh wow, these are totally awesome, I love them! Thank you so much for this. Please do add them to a subfolder, and perhaps add a little README file to show that you are the creator? :)

[2018-08-13 02:45] dannycolin opened #14 "Update "How to add a person" section"
With my last PR (#13) the documentation to add a person to the people's page is outdated.

To do :

- [ ] Change the example
- [ ] Add information to let people know that they can add new social networks' links to their profile
      The list in `_data/networks` is limited for now but I'll update it during the week.

[2018-08-13 20:49] MikeDoesScienceUX commented on #6
@Protohedgehog - Thank you! Very glad you like them. My hope is that these help add a little excitement to the start of new modules. Will add them to the subfolder as soon as we get the colors finalized!

@dannycolin & @Protohedgehog - I took a stab at creating an alternate version with WCAG 2.0 AA compliant colors. The green and peach were easy fixes. The Yellow was more tricky. The choices seem

[2018-08-13 22:17] dannycolin commented on #6
I like both of them :smile:. Maybe the non-gray versions would create less distraction with the content on the website.

[2018-08-14 05:04] Protohedgehog commented on #6
Yes, these are all great! I think the ones with colour too, as these logos are likely to be positioned near to the top of each module, or at öeast away from the text, and it keeps the theme consistent. Is that okay? :)

[2018-08-14 15:18] MikeDoesScienceUX commented on #6
Ok awesome! Thanks guys! I see what you guys are saying about the color, and it's grown on me after a second look. So, unless otherwise directed, I'll go with the center version (the dark yellow colored text), and post everything in a subfolder off of Main with a readme.

[2018-08-16 21:10] dannycolin commented on #6
You can now find the logos here : https://github.com/OpenScienceMOOC/Main/tree/master/module-logos :).

[2018-08-16 21:10] #6 closed

[2018-08-17 01:41] Protohedgehog opened #15 "Update modules page to include new logos"
This page https://opensciencemooc.github.io/site/modules/ could be updated to reflect the new logos designed by @hiiammike. @dannycolin any quick way to do this? The html looks a little complicated for me..

[2018-08-17 02:41] dannycolin commented on #15
Yep. I'll work on that tomorrow because it's #FreeSoftwareFriday :).

[2018-08-17 02:48] Protohedgehog commented on #15
Oh, sweet, I had no idea that was even a thing! I'm gonna be mostly out of it for the next 5 days or so, but will check in every now and then :)

[2018-08-17 16:14] dannycolin commented on #15
I don't think it's a thing. Could be nice tho. It's just that Friday is my day off ;). Anyway, I've changed the logos but I'll rework on that page later to resolve some accessibility issues.

[2018-08-17 16:50] #14 closed

[2018-08-17 21:43] dannycolin opened #16 "Web Accessibility and compliance to WCAG 2.1 guidelines"
[Our mission folks, should we choose/decide to accept it](https://www.youtube.com/watch?v=tGSUjuSBt1A)... is to make osmooc's website more accessible to a wider range of people with disabilities.

In the [WCAG 2.1 Guidelines](https://www.w3.org/TR/2018/REC-WCAG21-20180605/), you can find a lot of informations about web accessibility. It is a bit technical if you... So I'll try to list a couple of

[2018-08-18 04:07] Protohedgehog commented on #16
This looks excellent, thanks @dannycolin. Is there a way to partition this up into smaller, manageable chunks for us less initiated folks..?

[2018-08-19 14:36] MikeDoesScienceUX commented on #16
Hey guys! First, that's a great todo list of guidelines!

My 2 cents on this (probably obvious):  It seems like some of these changes are more foundation than others. Like, if we need to use a new responsive grid system over Bootstrap, that's a major overhaul that should be done early. We can tweak the colors way after launch if we needed to.

**Here is how I'd order the changes, from "need to do

[2018-08-19 16:29] dannycolin commented on #16
@hiiammike You read my mind :). I was about to propose almost the same thing. I was even doing some test with CSS Grid (and Flexbox, IE fallback) locally. I'll update the main post with your list. Thanks.

This week I'll work on :

- Enhance the documentation
- Break this issue into smaller pieces
- Push a cleaned branch to upstream (this repository) that integrate the tools we'll need. I'll name

[2018-08-19 22:21] MikeDoesScienceUX commented on #16
@dannycolin - Ha! That's twice now (first was the pillar). It's encouraging that we keep being on the same page haha.

On the UX stuff: Yeah I'm a little concerned about my not being help much until a couple weeks from now, because I know if I'm going to recommend anything for the layout, I need to do it soon. But it's hard to anticipate. So far, the only page I've seen (the people page you Slacke

[2018-08-21 10:55] Protohedgehog commented on #16
@dannycolin @hiiammike you guys are amazing, thank you. If I can help with any of this, please let me know! Mike, kick ass with your thesis defense too. This old post of mine might contain a bit of advice, but I'm sure you've got this :) http://fossilsandshit.com/the-best-form-of-viva-defense-is-chilling-the-fuck-out/

[2018-08-22 00:54] dannycolin opened #17 "Licensing"
Since we are going to remove the old bootstrap 3 code, I was wondering if you'll be ok if I license the new CSS code under the AGPLv3 license instead of MIT license. The AGPLv3 license is kind of the CC-BY-SA but for software code. That mean, any fork needs to be share-like (with the same license).

[2018-08-22 01:28] Protohedgehog commented on #17
Would have to check with @Kevin-Mattheus-Moerman on that one :)

[2018-08-22 11:27] Kevin-Mattheus-Moerman commented on #17
I'm not opposed to changing the license in principle. However, there are some points to consider.

1. The link to the original code and developers
Websites I've built (e.g. kevinmoerman.org and gibboncode.org) started out as a clone from the [project-pages jekyll template](http://projectpages.github.io/project-pages/. ), which carries the MIT license. However I've implemented lots of changes as yo

[2018-08-22 15:53] dannycolin commented on #17
Hey @Kevin-Mattheus-Moerman  thanks for your answer.

1. > I've built (e.g. kevinmoerman.org and gibboncode.org) started out as a clone from the project-pages jekyll template, which carries the MIT license.

Since we've talked about removing the old Bootstrap 3, I created a clean branch where no MIT code from third-parties is present. We should be OK to relicense that branch.

2. > Could you expla

[2018-08-22 21:15] MikeDoesScienceUX commented on #16
@Protohedgehog - Thanks Jon! That's a great post. I never thought about publishing chapters of my dissertation along the way. That's baller af.

[2018-08-23 08:09] Kevin-Mattheus-Moerman commented on #17
Awesome work on the website btw! Perhaps I need to pull some of these changes into my other sites :smile:

I'm aware that AGPLv3 code does not preclude commercialization efforts. However it does make it difficult and the GPL licenses do not in principle allow the codes to be incorporated into proprietary systems (as is explained [here](https://www.gnu.org/licenses/gpl-faq.en.html#GPLInProprietaryS

[2018-08-23 15:42] dannycolin commented on #17
First of all thanks for your time (especially digging in the somewhat not really user-friendly GPL FAQ). I must admit that I too feel like I need a law degree to understand all that stuff XD.

So back to the main subject :

your proprietary system. To do this validly, you must make sure that the free
and nonfree programs communicate at arms length, that they are not combined in
a way that would ma

[2018-08-23 22:04] dannycolin opened #18 "Documentation"
Here's a list of things I think we could add to the documentation. If you think about anything else just let me know and I'll add it to the list. Also, there's a CONTRIBUTING.md file in the devel branch that's where I'm going to add stuff because I want to keep the README.md as short as possible :).

- [ ] How to install Jekyll locally
- [ ] Quick guide/cheat sheet to use/remember git command
  (e

[2018-08-23 22:44] dannycolin opened #19 "Replacing Bootstrap 3"
This is part of my proposal to make the website compliant with the WCAG 2.1 Guide (see #16).

Since we need to refactor some code in order to make it compliant, I've proposed to deprecated Bootstrap. Why :

- It isn't maintained anymore (Bootstrap 4 is the new version)
- It use old CSS and Javascript technology
- It doesn't consider web accessibility as a first-class citizen

Todo :

- [x] Add Fou

[2018-08-24 01:23] Protohedgehog commented on #18
This is perfect for now, thanks @dannycolin! :)

[2018-08-26 20:12] Protohedgehog commented on #17
Oof, @Kevin-Mattheus-Moerman and @dannycolin thanks for the discussion on this! I think what we ultimately want is to maximise the dissemination of this code, whether for commercial purposes or not. If there are specific fragments of code that need to be licensed differently, I'm happy with that, as long as it doesn't make things too difficult for external users.

Speaking of OpenEdX, look what I

[2018-08-31 10:28] Kevin-Mattheus-Moerman commented on #17
@dannycolin @Protohedgehog I think a single license would be best and clearest. If after considering my points you want to go with AGPLv3 that is fine.
![image](https://media1.tenor.com/images/2f7b5a25fc3356bb97e1334ff3c2c27e/tenor.gif)
No hard feelings :tulip: :rabbit:  :unicorn:  :rainbow:

BTW @Protohedgehog yes `:unicorn: :rainbow:` does produce :unicorn: :rainbow: in markdown!

[2018-08-31 10:39] Kevin-Mattheus-Moerman opened #21 "Transfer website URL"
We want to get the github built website which is currently here:
https://opensciencemooc.github.io/site/
To take over this URL of the old website:
https://opensciencemooc.eu/

When I did the migration for my own websites (e.g. kevinmoerman.org) I had help from a friend, so I do not fully remember the steps. We used cloudflare in the past and I think we followed these instructions:
* https://help.g

[2018-08-31 15:33] dannycolin commented on #21
@Kevin-Mattheus-Moerman Yes, I can but I'll need access to the domain name or I can walkthrough someone via Slack (@Protohedgehog?)

Btw, GitHub made it even easier. They now support HTTPS :tada: ! so we don't need to use/set an external service with Cloudflare.

[2018-08-31 15:40] dannycolin commented on #17
I'll count that as a vote for MIT. So we'll keep the source under the MIT for now. @Kevin-Mattheus-Moerman same no hard feelings ;). On the contrary, I really like that we can have that kind of discussion without starting a flamewar.

[2018-09-02 00:38] Protohedgehog commented on #21
@dannycolin @Kevin-Mattheus-Moerman Working on this right now! Will update as soon as I have more :)

[2018-09-02 00:40] Protohedgehog commented on #17
Awesome, thanks both! So, @Kevin-Mattheus-Moerman, the question is how do we exploit this new knowledge for maximum shenanigans.. :)

[2018-09-04 00:47] Protohedgehog commented on #17
@Kevin-Mattheus-Moerman Noob question, I tried to get the rainbows and unicorns to appear here.. but no luck! https://opensciencemooc.github.io/site/about/ #halp!

[2018-09-05 02:15] Protohedgehog opened #22 "Can/should we build a forum into the existing site?"
Question for folks: How would you like it if we were to build a forum into the existing site? (note, atm the domain is being transferred over and opensciencemooc.eu will become the main domain shortly-ish).

At the moment I'm wondering now how easy/difficult it would be to essentially just host everything through the main site as a one stop shop, but then also externally host it through other plac

[2018-09-05 02:16] Protohedgehog commented on #21
@Kevin-Mattheus-Moerman working on doing this now through Switchpoint to GoDaddy. It hit a snag, but hopefully can be resolved in the next few days.

[2018-09-05 13:23] alexmorley commented on #22
FWIW I think technically this is very do-able. Discourse is a neat almost out-of-the box solution.

On the other hand if we go ahead with this we will need to set in place some solid procedures for moderation which can be tricky to get right.

[2018-09-05 16:00] dannycolin commented on #22
Here's a couple of other technical things we need to consider if we want to host it ourselves :

- We need some people who want to maintain the server(s).
- We need to decide if we also run our own mail server [1] (for the email notifications) or
  if we use a third-party provider (e.g Mailgun, Sendgrid). The second option is more pricey.
  If we choose the first option, we need to make sure we ha

[2018-09-06 04:00] Protohedgehog opened #23 "New images for partner gallery"
Hi folks, so @johav has been awesome and standardised the logo sizes for all partners here: https://github.com/OpenScienceMOOC/site/tree/master/img/partnergallery/OS%20MOOC%20-%20partner%20logos

I just want to check, if we want to replace the current logos in the partner gallery with all of these, is it a simple copy and paste job into the partnergallery folder, and replacing all the older ones?

[2018-09-06 04:10] Protohedgehog commented on #22
OK, great, thanks @alexmorley and @dannycolin.

So, for moderation, does Discourse allow people to 'apply' to be moderators or anything? What we could do is ask if people want to use the MOOC content as teachers, perhaps one of the things they can or have to do as part of that is become a forum mod? We can apply the same CoC for the MOOC to that too probably.

So, if it is possible for me to maint

[2018-09-06 13:42] Protohedgehog opened #24 "Embed new presentation in website"
Hi folks, so I just made this nice little presentation for the site: https://github.com/OpenScienceMOOC/Main/blob/master/MOOC_presentation.pdf

It's available in PDF, odp, and pptx formats for now. Any thoughts on the best way to embed (or link to) this in the website? Do we even need a new page for things like media, or just be content linking out to GitHub..?

[2018-09-06 14:27] Protohedgehog commented on #23
Seems to have worked okay so closing this now..

[2018-09-06 14:27] Protohedgehog commented on #21
ALMOST DONE, besides a couple of bugs with the headers for a couple of the tabs https://opensciencemooc.eu/ @Kevin-Mattheus-Moerman

[2018-09-07 00:57] Protohedgehog commented on #23
OK, done this now, and it looks awesome!

[2018-09-07 00:57] #23 closed

[2018-09-07 01:06] dannycolin commented on #21
I think we can close that one. If someone find an other bug don't hesitate to reopen it.

[2018-09-07 01:06] #21 closed

[2018-09-08 02:12] Protohedgehog commented on #24
Btw.. :) https://opensciencemooc.eu/

[2018-09-13 02:07] #24 closed

[2018-10-03 17:38] #17 closed

[2018-10-03 17:44] dannycolin opened #25 "Rewrite resources page in Markdown"
The resources page is written in HTML and it's really hard to read and maintain. So it would be nice if we could have a Markdown version.

In addition, we could also move each module's resources in the module's page it is linking to.

[2018-10-03 19:47] Protohedgehog commented on #25
Reckon it would be easy enough to convert the html to md just using pandoc? If so, I can do that.

And yes, that would be cool. Someone also pointed out to me a few days ago that the links in the module page to the resources are broken, so need to fix that too. A hangover from the old website again.

[2018-10-03 21:21] dannycolin commented on #25
Ahah I didn't think about pandoc but yes that should do the trick. Maybe there will be some cleaning to do after pandoc-ing it tho.

[2018-10-04 16:28] Protohedgehog commented on #25
OK, here it is for now. https://github.com/OpenScienceMOOC/site/blob/master/resources.md

I have a loooot of travel up ahead so can work on this then. Woo.

[2018-10-04 16:34] Protohedgehog commented on #25
Also, I assume that to make this the active page some things will need to be edited in other files too, right?

[2018-10-04 19:26] dannycolin commented on #25
Pandoc broke the YAML syntax at the top. It's fixed now ;)

[2018-10-25 18:02] dannycolin commented on #25
@Protohedgehog can I close this issue? :)

[2018-10-25 18:05] Protohedgehog commented on #25
Yessss!

[2018-10-25 18:05] #25 closed

[2018-10-25 18:22] dannycolin opened #26 "Mastodon bot"
A bridge to crosspost between Mastodon and Twitter (https://crossposter.masto.donte.com.br/). It's also possible to host our own instance.

[2018-10-25 18:29] dannycolin opened #27 "Automate posting on social medias"
List of social medias when want to target:

- facebook
- twitter
- mastodon
- ???

What we need:

- Possibility to format post for each platform
- Limit post to specific platforms
- ???

Solution:

Use jekyll to generate an RSS feed that we could use as an input source in IFTTT.com ou zapier.com.

[2018-10-26 07:36] Protohedgehog commented on #27
This sounds complex, do you need support for it at all..? :)

[2018-10-26 16:26] dannycolin commented on #27
It's very similar to the blog section so It shouldn't be to hard. But, of course, help is always welcome :). For now, I'm still working on the website redesign so if you want to try here's some resources:

- https://jekyllrb.com/tutorials/convert-site-to-jekyll/#10-rss-feed
- https://www.w3schools.com/xml/xml_rss.asp

[2018-11-07 05:28] charles-plessy opened #28 "List of press articles in 2016~2018"
Hi !

For ~2 years I have been doing a press survey related to open science; however I think that I am not going to use it by myself.  I was wondering if you would find it useful ?

Open science in the press
=========================

 - _In dramatic statement, European leaders call for ‘immediate’ open access to
   all scientific papers by 2020._ Martin EnserinkMay. 27, 2016 , 2:30 PM
   [Science

[2018-11-07 10:57] jcolomb commented on #28
Hi. Sounds great. I am not sure wjether we can use it in the mooc, but it would be worth looking for the integration of that data into oatp (peter suber project on surveying all open science news). I do not have the link at hand, but search for oatp tagteam and you should find it...

Am 7. November 2018 06:28:40 MEZ schrieb Charles Plessy <notifications@github.com>:

--
Diese Nachricht wurde von m

[2018-11-07 11:55] Protohedgehog commented on #28
Hi @charles-plessy, this is very impressive, thank you! I imagine that many of these could be integrated into the 'key elements' files that accompany each module for the MOOC for now, where there are collected lists of key related posts. Feel free to integrate them there as you see fit! (e.g., here https://github.com/OpenScienceMOOC/Module-5-Open-Research-Software-and-Open-Source/blob/master/key_e

[2018-11-17 01:08] dannycolin opened #29 "Add ability to show multiple content on the homepage"
Example
- https://github.com/jekyll/jekyll/issues/246#issuecomment-583053
- https://forestry.io/blog/ubuild-a-new-theme-for-static-sites-using-blocks/ (Seems cleaner)

[2018-11-17 01:10] #19 closed

[2018-11-17 23:49] dannycolin opened #30 "Update to Foundation 6.5"
Release note
https://medium.com/@ncoden/foundation-6-5-0-released-f405d8561ed7

[2019-01-09 21:13] dannycolin opened #33 "Add LibreJS support"
**Feature Request**

What's LibreJS? https://www.gnu.org/software/librejs/

"GNU LibreJS aims to address the JavaScript problem described in Richard Stallman's article The JavaScript Trap. LibreJS is a free add-on for GNU IceCat and other Mozilla-based browsers. It blocks nonfree nontrivial JavaScript while allowing JavaScript that is free and/or trivial."

**Tasks**

- [ ] Add the necessary confi

[2019-02-07 11:10] johav opened #34 "Eliademy"
the homeage https://opensciencemooc.eu/ needs an update and can we make Eliademy more visible? Like add their logo and a button to register for the courses that are already available?

[2019-02-07 11:14] Protohedgehog commented on #34
I believe that @dannycolin and others are working on that right now :)

[2019-02-07 11:14] #28 closed

[2019-02-07 14:46] dannycolin commented on #34
Oh yea, I've been busy and haven't had enough time to work on the redesign lately. :( Anyway, I could probably work on a quick fix for the button/register thingy. @johav Do you have anything else in mind.

By the way, here's a mockup of the future homepage https://www.dannycolin.com/mockup/osm/osm-homepage-3.png

[2019-02-07 14:48] Protohedgehog commented on #34
No worries, @dannycolin! I still owe you a tonne of ice cream/coffee etc. anyway for this :)

[2019-02-07 14:55] johav commented on #34
looks great! Let's make sure the course material get's a prominent position?/it's own tab/subpage / easy to find etc.
Just wanted to make sure to have this on the list of things to do ;) Can I assist with anything re redesign?

[2019-02-07 22:50] dannycolin commented on #34
Thanks :)

Yes, there's a link in the menu. Every courses (modules) will have its own page. The resources page in the old design will be replace by a resource section in each courses' page.

For the moment, I've only done the mockups (static images) with the help of @hiiammike. I've uploaded the screenshots for the home, blog and team pages [here](https://www.dannycolin.com/mockup/osm/). Of course

[2019-02-08 09:22] Protohedgehog commented on #34
This is great, thanks for the update, @dannycolin!

[2019-02-09 22:21] dannycolin commented on #34
And the quick fix is done! :) There's a link to module 5 with a mention about eliademy at the top of the homepage.

[2019-02-10 09:39] Protohedgehog commented on #34
Oh, that was speedy, thanks @dannycolin!!

[2019-03-18 20:09] #34 closed

[2019-03-19 14:42] dannycolin opened #35 "Move team/group information to a data file"
- [ ] Move team/group info to a data file (e.g. _data/teams/team-name.yml)
- [ ] Create a group's layout

[2019-03-19 19:20] dannycolin opened #36 "Add a Dark Mode"
See :
- https://caniuse.com/#feat=prefers-color-scheme
- https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

[2019-03-21 23:39] dannycolin opened #37 "Pages' content and styling"
A few pages on the new website need content.

**Tasks**
- [x] All: Increase line-height and paragraph spacing
- [x] All: Increase color contrast (green on black)
- [x] People: Update list
- ~~[x] Get-Involved: Decrease headings font size~~
- [x] Hero: Slogan on two lines instead of three
- ~~[x] Hero: Change "enroll" for something catchier~~
- [x] Footer: Increase top spacing
- ~~[x] Mission: Reph

[2019-03-22 12:33] Protohedgehog commented on #37
Awesome, thanks for this @dannycolin. Yes, having a mission statement would be better. What's the best way to contribute this content atm for you?

[2019-03-22 13:05] dannycolin commented on #37
@Protohedgehog you can create a PR and compare it with the v1.0 branch.

[2019-03-28 13:09] Protohedgehog commented on #37
@dannycolin Just realised I closed this tab by mistake without doing the work. Will get on it ASAP.

[2019-03-30 13:05] Protohedgehog commented on #37
@dannycolin Just realised I closed this tab by mistake without doing the work. Will get on it ASAP.

[2019-03-30 13:20] Protohedgehog commented on #37
Need a catchy sentence or two (homepage)
_The Open Science MOOC is about transforming the way we do research based on essential values, principles, and practices. Our mission is to set the default setting for global research to Open._

    Spread the Word: Open Science is for everyone. Help us spread the word by joining our [open Slack channel](https://osmooc.herokuapp.com) and inviting your frien

[2019-03-30 21:26] dannycolin commented on #37
Yep. I've only rephrase "become a partner" and move the partner level definitions to the "get involved" page because the block was twice the size as the others.

There's a few things here and there that I need to fix and we'll be ready to launch the website in prod. Should we share the temporary link to the steering committee just to have some feedbacks?

Oh and I hope you had some fun today in yo

[2019-03-30 21:55] jcolomb opened #38 "link in readme not working"
10 min. GIT tutorial link not directing to a tutorial.

[2019-03-31 10:03] Protohedgehog commented on #38
Seems fine to me, the URL just has changed? @Kevin-Mattheus-Moerman is this is still the right page?

[2019-03-31 10:20] pcmasuzzo commented on #38
This looks fine to me, too. Though connection is not secure (has always been the case).

[2019-03-31 10:34] Protohedgehog commented on #37
OK, sweet. So I can make edits to this branch https://github.com/OpenScienceMOOC/site/tree/v1.0 and make a PR for changes, right? Will familiarise myself with the new site structure if so.

And yes, I think sharing would be a good idea! I'll DM you the SC mailing list :)

[2019-03-31 10:38] Protohedgehog opened #39 "New subsections in the People page"
As we've reshuffled a bit, we're gonna need to have a new subsection for the people page. Atm, we have the Steering Committee and development team. Can we add a new subsection for 'Advisors', and then I can reshuffle the people and add new profiles as needed?

[2019-03-31 10:45] bmkramer commented on #39
Sounds good to me!

Op zo 31 mrt. 2019 om 12:38 schreef Jon Tennant <notifications@github.com>:

[2019-03-31 11:04] Protohedgehog commented on #22
Note that I think this can be closed now, as Eliademy has a discussion forum for each module, and we have the Slack group now too.

[2019-03-31 11:04] #22 closed

[2019-03-31 14:06] dannycolin commented on #37
Yes. If you have questions about the structure don't hesitate to DM me on Slack ;).

[2019-03-31 19:47] jcolomb commented on #38
rephrasing: the link is redirected to a higher level page, not going to a tutorial

[2019-03-31 19:48] jcolomb commented on #38
https://try.github.io/levels/1/challenges/1
go to  https://try.github.io

[2019-04-04 07:09] johav commented on #37
Just c&p Lisa's comments:

Homepage
- Would it be possible to have "We want to make open the default setting for all global research" on two lines instead of three?
- Can we think of something catchier than "enroll"? (nice color change on hover btw!)
- The list of modules under "Discover our courses" (I like the background!): consistent margins & capitalization
- Footer: Is it possible to shift th

[2019-04-04 07:15] johav commented on #37
The website looks quite awesome! Thanks a lot :)
- where will the OSMOOC logo be? first setion on home page?
<img width="547" alt="image" src="https://user-images.githubusercontent.com/13553996/55536406-f623f180-56b9-11e9-90a4-4dc1ff46c7ac.png">

- can we keep the list of resources on the website?
- Our Partners: add partner orgs logos (need to distinguish between moral and financial support partn

[2019-04-04 07:28] tosteiner commented on #37
@dannycolin chiming in with the others: amazing stuff re website, this looks really great!

One thing I stumbled upon: should we maybe also add GDPR-related links to the footer? Sorry, I know this is PITA territory ...

![](https://media.giphy.com/media/l4WjpCogXmWxq/giphy.gif)

Not sure if e.g. adapting the `privacy policy` part from FOSTER https://www.fosteropenscience.eu/privacy-policy would he

[2019-04-04 17:21] dannycolin opened #40 "GDPR-compliant"
**Describe the bug**
Website isn't GDPR-compliant

**Expected behavior**
it should be :)

**Additional context**
Here's an example of a privacy policy : https://www.fosteropenscience.eu/privacy-policy

[2019-04-04 17:22] dannycolin commented on #37
The logo (top right part of the image) will replace "Open Science MOOC" in the topbar menu.

Each module has a resources section based on the resources page. I thought it would be easier to digest the information but we could recreate a resources page if needed.

@Protohedgehog any idea on that one. In your text, you've divided partners status in three types?

Oh yes. I think making sure the websi

[2019-04-04 18:20] Protohedgehog commented on #40
Oh man. Do we need to draft something equivalent to this? We don't gather any user data do we?

[2019-04-04 18:21] Protohedgehog commented on #37
The modular breakdown of the resources section is pretty good. Is there a way of making each one look a bit better for navigation? Maybe just adding a simple ToC?

Can we keep the partner logos divided up in just the same way as they are on the old site for now too?

[2019-04-04 18:31] tosteiner commented on #40
Unfortunately, we do, yes... thanks, @dannycolin for sorting the issue into here :) @Protohedgehog If you want, I can dig into the topic, (have recently gone through all the pains for my uni... it's not too hard, might have to poke around a bit on what services we use - if we do)

[2019-04-04 18:34] Protohedgehog commented on #40
Okie dokie. @tosteiner do you want to crack open a Gdoc or something and we can hammer this out together? We would probably have to indicate the sort of stuff that Eliademy requires too, right?

[2019-04-04 18:40] tosteiner commented on #40
Hum, I suppose we might be lucky and don't have to, because eliademy is external... we need do describe what the web page itself offers, and as long as we don't embed eliademy stuff directly, we might be able to steer clear of that...

So, here's a HackMD to get the ball rollin': https://hackmd.io/s/ryOsCT7YV#

Will have to postpone this a bit, though, am currently in the midst of a job applicatio

[2019-04-04 18:57] Protohedgehog commented on #40
OK, sweet! Will have a play with that soon, never used the platform. Have fun with the job application! Something in Berlin? ;)

[2019-04-04 19:03] tosteiner commented on #40
No, the US - never figured I might consider this, but New England looks like a nice option :)

[2019-04-04 19:36] dannycolin commented on #40
At the moment, the new website doesn't use cookies and every libraries are loaded from the same location as where the website is hosted. That means no user data is leaking to a third-party CDN.

Count me in to help as much as I can on that issue :).

[2019-04-04 19:39] dannycolin commented on #37
Yep. I just hit a weird bug with Jekyll ToC but I'll add it to the list of tasks.

[2019-04-04 19:47] dannycolin commented on #38
Looks like Github removed the 10min tut.

[2019-04-05 12:30] tosteiner commented on #40
@dannycolin @Protohedgehog alrighty, then - first rudimentary draft here https://hackmd.io/s/ryOsCT7YV#

I've made use of one of those [free generators](https://www.freeprivacypolicy.com/) and further trimmed the result down to only consider server-side logging (IP address collection and all that really basic stuff, but no cookies, not tracking via Google or Matomo/Piwk etc.) - feel free to revise

[2019-04-05 17:05] dannycolin commented on #40
Technically, GitLab/GitHub is collecting the data not us.

In the policy it's mentionned that

Does the privacy policy of GitLab/GitHub is compatible with that statement? I wouldn't be suprise that GitLab/GitHub use their data for other purpose than.

[2019-04-06 11:37] Protohedgehog commented on #40
Thanks for this @tosteiner! I'll have an edit when I get the chance. The link for the Slack group is: https://osmooc.herokuapp.com/ but it's interesting to see that the old one is working again now for some reason?? I don't know many legal people to have a peak though, sadly.

[2019-04-06 17:00] Protohedgehog commented on #40
Suggested text for plain language summary:

# Plain-Language Summary

**We highly value your privacy.** We don't just say so. In fact the Open Science MOOC was built around giving people the freedom to do what they want in research, and we never had any intent for obtaining or using user data. All personal data stays on your computer, and we do not touch a thing. We were GDPR compliant from the be

[2019-04-18 11:44] Protohedgehog opened #41 "Edits to resources page"
From email:

As you may have heard, Open2Study is no longer offering short courses and their site is closed since last January.

Here is where I found their link: https://opensciencemooc.eu/resources/

Would you consider changing it for https://classpert.com (a free search engine for online courses I recently launch)?

[2019-04-18 19:37] dannycolin commented on #39
Sure. Would you prefer to have one page with a section for each team or one page per team?

[2019-04-19 07:18] Protohedgehog commented on #39
I think one page with a section for each team/group would be best. Thanks, @dannycolin!

[2019-04-19 17:59] dannycolin commented on #39
@Protohedgehog oh I forgot to ask. Is this issue for the v1.0 or you also want it for the actual website?

[2019-04-20 06:56] Protohedgehog commented on #39
Sorry, @dannycolin, I don't fully understand. I think just for the new website, if possible.

[2019-04-20 20:23] dannycolin commented on #39
@Protohedgehog On the v1.0 branch, you can now move people's profile to the team folder they belong to.

[2019-04-21 11:03] Protohedgehog commented on #39
Silly Q - how do I edit that branch on my local machine without overwriting the current master branch here? If that makes sense..

[2019-04-21 13:04] dannycolin commented on #39
[code]

Change `origin` to `upstream` if you are on your fork.

[2019-04-21 14:27] Protohedgehog commented on #39
Okie dokie, think I got it..

[2019-04-21 15:10] #39 closed

[2019-05-17 19:51] dannycolin opened #43 "Add translations support"
Recently, a couple of teams formed with the goal to translate MOOC's modules in other languages than english (see [main/#31](https://github.com/OpenScienceMOOC/Main/issues/31)). So, I tought it'll be nice to also translate the website.

Before that, there's a few things we need to consider before starting translating the website.

First, Jekyll doesn't support multilingual websites out-of-the-box.

[2019-05-21 08:34] geyslein commented on #43
@dannycolin I'm with you, we should definitely decide about migrating jekyll => hugo or not **before** we start translating :)

I see that hugo is more enterprise - more suitable for bigger websites, than jekyll and supports multilingual sites from the scratch which can be a bit more painful with jekyll. I base my judgement on this article [https://forestry.io/blog/hugo-and-jekyll-compared/](https

[2019-05-21 12:03] jcolomb commented on #43
Hey. I have been using hugo quite a lot at my level. For me it seemd the existing templates are quite simple and difficult to change (but that's maybe only me: I have not use jekyll at all...)
If moving to hugo, it would be worth looking into the academic template which seem to be more complete in terms of what one can do.
I would lauch the new (not translated) website independently of creating a

[2019-05-21 16:30] dannycolin commented on #43
Just a little addendum: Hugo now supports assets' pipeline (e.g sass, poscss, minification of css/js/html, etc)

Are you talking about the template engine? If yes, it has the same features, if not more) as the one in Jekyll (Liquid). It's also possible to use a different one with Hugo or to extend the current one if we really need it. IMHO, I think the builtin one is enough for our needs.

I'm OK-

[2019-05-24 22:32] tosteiner commented on #43
Sorry, am a bit late to the party, but Grav (which plays in the same flat file-based universe as Hugo, but isn't a static site generator [per se, but more a CMS](https://www.mikecr.it/ramblings/grav-cms-not-static-site-generator/)) has a multilanguage support feature, see https://learn.getgrav.org/16/content/multi-language

Not sure if that helps?

[2019-05-24 22:47] dannycolin commented on #43
Grav is very an awesome little CMS but there's a few downsides with it. GitHub and GitLab don't support PHP language which Grav is written in. That means we would need to pay for a webhosting plan. Also, it'll involve more configuration. We'll need to link the webhosting and the source code repository to make sure that any change made to the code is pushed to the production server.

I mean those t

[2019-05-24 22:59] tosteiner commented on #43
@dannycolin ah, okay, I see - yes, definitely valid points 👍 the less work the better ⭐️ (didn't take into account that the site content is basically living on GitLab/Hub...)

[2019-05-27 13:44] johav opened #44 "add bFOSH logo to partner page/slider"
https://github.com/FOSH-following-demand

here is the website: https://fosh-following-demand.github.io/en/home

[2019-06-03 10:07] jcolomb commented on #43
@dannycolin : I  meant using hugo themes as templates (starting from scratch is way over my competencies, and I must admit I did not get much of the jargon you used :) ).
But I will be much more confident to help with the website content creation if it is hugo based, it also seems to me it is much more valuable to learn hugo than jekyll nowadays :)

[2019-06-03 13:29] dannycolin commented on #43
@jcolomb: Aha! I don't really know any good theme. Personally, I always start from scratch because it's easier that way. I don't have to learn the source code and I can make sure my code respect the web specifications especially the one on web accessibility.

If you're interested to learn a bit more and don't have a lot of time, I strongly recommend the [video tutorials from Mike Dane](https://www

[2019-06-04 12:47] jcolomb commented on #43
I would probably be worth looking at the academic theme before writing everything from scratch.

Independently, it would be cool to make the website dat compatible. One "only" needs to make sure external components are called with "https://" and that no baseurl is used. I would also think about downloading the dependencies (CSS most of the time) instead of linking to them.

Regarding decentralised

[2019-06-04 15:40] dannycolin commented on #43
We have a lot of custom templates/pages and I'm following the WCAG guide that the vast majority of themes don't follow :/.

Every libraries are loaded from the main domain (opensciencemooc.eu) so I only use relative url ;). For external url, we can also use "//" it's protocol agnostic and it has the advantage of not breaking websites url that still don't support https.

@jcolomb can you open a new

[2019-06-05 21:32] dannycolin commented on #40
Any update regarding that issue?

[2019-06-14 18:15] #29 closed

[2019-06-15 16:21] dannycolin commented on #44
Done :).

[2019-06-15 16:21] #44 closed

[2019-06-15 16:27] dannycolin commented on #38
I've removed the broken link. If someone find an other 10min-ish tutorial don't hesitate to add it to the README.md :).

[2019-06-15 16:27] #38 closed

[2019-06-16 21:37] dannycolin commented on #37
All done. :)

[2019-06-16 21:37] #37 closed

[2019-06-17 06:33] Protohedgehog commented on #37
Legend, thanks @dannycolin! :)

[2019-06-18 08:48] Protohedgehog opened #47 "Add new blog post to new site"
From here https://github.com/lhehnke/lhehnke.github.io/blob/master/_posts/2019-06-02-openscience-follower-analysis.md

[2019-06-18 12:03] jcolomb opened #48 "icons for modules: modification depending on status"
trying to modify icons depending on the module status. (see my branch)
I can't write to svg (see https://github.com/ropensci/magick/issues/202) yet. Any way to use .png files instead, or should we wait for the ropensci team to check the bug?

[2019-06-18 12:12] jcolomb commented on #48
do not worry, Got a workaround by writing a png file, reading that file and saving afterwards

[2019-06-18 12:16] jcolomb commented on #48
Ok here it is done, we can now think about a better design for the icon modification if you like. @danny any way to look at what is is like?
I did not get what you wanted to say in your email.

[2019-06-24 16:04] Protohedgehog commented on #35
Note to Jon: Add Erzsebet and Wojciech to the Advisors sub-category.

[2019-06-24 20:53] dannycolin commented on #30
done.

[2019-06-24 20:53] #30 closed

[2019-06-25 13:36] Protohedgehog commented on #35
And Tony. Asking him later, assuming he will say yes.

[2019-06-26 01:01] dannycolin opened #50 "Migrate to Hugo"
Here's a list of reasons why we should migrate to [Hugo](https://gohugo.io):

**tl;dr**
Those advantages will make it easier to add/modify content for non-developers and also easier for people with less programming knowloedge to jump in the code and help maintain it.

* It supports translation (#43) out-of-the-box
* It's easier to install and run it. It's literally one executable that you have to

[2019-07-09 02:46] dannycolin opened #52 "Add a default image for blogpost and profile"
**Describe the bug**

A empty space or the alt text is visible if a blogpost or a profile don't have an image.

**Expected behavior**
If a blogpost or profile don't have an image, there should be a default image inserted as a fallback.

**Tasks**

- [x] Detect if a file exists
- [x] Add a fallback image for blogpost on blog/homepage
- [x] Add a fallback image for people's avatar

[2019-07-09 02:53] dannycolin opened #53 "Update people's page"
**Describe the task**

People's page needs to be updated

**Task list**

* [x] Add Erzsebet and Wojciech to the Advisors team
* [x] And Tony (Asking him later, assuming he will say yes)

[2019-07-09 02:55] dannycolin commented on #35
@Protohedgehog see #53 :). Closing this issue because it has been (kind of) implemented in the new website.

[2019-07-09 02:55] #35 closed

[2019-07-09 12:07] Protohedgehog commented on #53
Done! :)

[2019-07-09 12:07] #53 closed

[2019-07-13 22:33] dannycolin commented on #52
Done.

[2019-07-13 22:33] #52 closed

[2019-08-08 18:11] dannycolin commented on #33
After following the (so awful) documentation, LibreJS webextension won't detect the license informations of the javascript files on the website. I'll tag it as `wontfix` and revisit the issue if the FSF offers a better solution with a well written documentation.

[2019-08-08 18:11] #33 closed

[2019-08-31 12:08] tosteiner opened #60 "Add infra blog post to site"
@dannycolin soo, I was thinking... if I wanted to add the [infrastructure post](https://github.com/tosteiner/OSMOOC-site/blob/master/_posts/2019-09-03-teaching-os-open-infrastructure-needed.md) to the blog roll, how would this work?

Just add the md-file to https://github.com/OpenScienceMOOC/site/tree/master/_posts , and that's it? And where can I put media files?
Thanks in advance!

(just thinkin

[2019-08-31 14:51] dannycolin commented on #60
Create a new markdown file in `_posts` following this naming convention

`YYYY-MM-DD-your-post-title.md`

After that, add the following metadata at the top of your post:

[code]

Now for the images, create a folder `posts` inside `/assets/img/` and put your images in it. You should now be able to link to your image in your markdown file like so:

`![Image description](/assets/img/posts/your-image.

[2019-09-04 14:45] dannycolin commented on #60
Done (#61). :tada:

[2019-09-04 14:45] #60 closed

[2019-10-11 18:18] Protohedgehog opened #65 "OS MOOC Twitter followers post"
Find a way to integrate this https://github.com/lhehnke/opensciencemooc-followers from @lhehnke as a blog post.

Either as a single static page, or something that regularly updates on the site.

cc @dannycolin @tosteiner

[2019-10-26 18:18] tosteiner commented on #40
https://github.com/mattermost/mattermost-server/blob/master/build/PRIVACY_POLICY.md

- [x] add this as a section of the hackmd file

[2019-10-27 18:54] tosteiner commented on #40
@Protohedgehog @dannycolin alright, folks - this should do it:

https://hackmd.io/iDGQQ9JNQGG0dQS1HpEJSw?view

[2019-10-27 19:36] Protohedgehog commented on #40
OK, shall we send this around to the SC or the Slack group this week just to get some feedback?

[2020-01-30 18:11] dannycolin opened #88 "Integrate cal.flavoursofopen.science in the main website"
- [ ] Create a subdomain (cal.opensciencemooc.eu)
- [ ] Reproduce o.e website menu on cal.o.e

[2020-03-02 14:45] tosteiner commented on #27
1. Open Community Calendar established on cal.opensciencemooc.eu
2. New event entries are currently triggering new posts on the Slack `#event` channel, this is facilitated via the external Zapier service.
3. With our plans to move from Slack to Mattermost, it'd be great if we could make use of that option via open source solution.

### Suggestion:

* Set up self-hosted [Huginn](https://dev.to/hero

[2020-03-03 12:49] jcolomb commented on #27
Can't we just use zapier to send the same content to mattermost and twitter? probably not free then?

[2020-03-03 14:03] tosteiner commented on #27
@jcolomb yup, sure - that would be the short-term solution :) so as to stay in control of our data in the longer term, Huginn would allow us to do this ourselves and cut back dependencies from third-party services 😉 but nothing that's mission-critical at the moment ;)

[2020-06-05 08:09] kiranbabumuddam opened #101 ""https://open-science-mooc-invite.herokuapp.com/" link to join github organization is showing internal error."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://open-science-mooc-invite.herokuapp.com/'
2. Enter github username.
3. Click on 'Add me to organization'
4. See error

**Expected behavior**
This page should process the username and send a join invite through email.

**Desktop (please complete the following

[2021-01-24 22:33] JMMaok opened #108 "Files for Open Science OpenEd logo"
This file contains the new Open Science OpenEd logo in English, French, and Spanish. The zip file contains .xcf files that can be edited in GIMP and .png files.
[Open Science OpenEd logos.zip](https://github.com/OpenScienceMOOC/site/files/5863358/Open.Science.OpenEd.logos.zip)